@model Kolsarici.Transformatters.MvcWebUI.Models.BeautifyViewModel
@using Newtonsoft.Json
@{
    Layout = "~/Views/_Layout.cshtml";
}
<script>
    function copyToClipboard() {
        var copyText = document.getElementById("beautifiedTextArea");
        copyText.select();
        document.execCommand("Copy");
    }
    var OpenInNewWindow = {

        submit: function (newWindow) {

            if (newWindow) {
                $('#form').attr('target', '_blank');
                $('#form').attr('action', 'BeautifyInNewPage');
                $('#form').attr('method', 'post');
            } else {
                $('#form').attr('target', '_self');
                $('#form').attr('action', 'Index');
                $('#form').attr('method', 'post');
            }

            $('#form').trigger('submit');

        }

    }
</script>

<script>
    var data = @Html.Raw(JsonConvert.SerializeObject(this.Model.Beautify.BeautifiedStr));

    require.config({ paths: { 'vs': '../node_modules/monaco-editor/min/vs' } });

    require(['vs/editor/editor.main'], function () {
        window.editor = monaco.editor.create(document.getElementById('container'), {
            value: data,
            language: 'xml',
            folding: true
        });

        monaco.editor.setTheme('vs-dark');
    });


</script>

<form id="form" enctype="multipart/form-data">
    <div class="col-md-5">
        <div class="form-group">
            @Html.TextAreaFor(m => m.Beautify.Str, new { @class = "form-control", @rows = "20", id = "first_name" })
        </div>
    </div>
    <div class="col-md-1">
        <div class="form-group">
            <div class="btn-group-vertical">
                <input type="submit" value="Beautify" class="btn btn-xs btn-info" onclick="OpenInNewWindow.submit(false)" />
                <input type="submit" value="Beautify In New Page" class="btn btn-xs btn-info" onclick="OpenInNewWindow.submit(true)" />
                <input type="button" value="Copy To Clipboard" class="btn btn-xs btn-info" onClick="copyToClipboard();">
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <div id="container" style="width:800px;height:600px"></div>
        </div>
    </div>
</form>




