@model Kolsarici.Transformatters.MvcWebUI.Models.BeautifyViewModel
@{
    Layout = "~/Views/_Layout.cshtml";
}
<script>
    var OpenInNewWindow = {

        submit: function (newWindow) {

            if (newWindow) {
                $('#form').attr('target', '_blank');
                $('#form').attr('action', 'BeautifyInNewPage');
                $('#form').attr('method', 'post');
            } else {
                $('#form').attr('target', '_self');
                $('#form').attr('action', 'Index');
                $('#form').attr('method', 'post');
            }

            $('#form').trigger('submit');

        }

    }
</script>
<div class="container">
    <div class="row">
        <form id="form" enctype="multipart/form-data">
            <div class="form-group">
                @Html.TextAreaFor(m => m.Beautify.Str, new { @class = "form-control", @rows = "20", id = "first_name" })
            </div>
            <div class="form-group">
                <input type="submit" value="Beautify" class="btn btn-xs btn-success"  onclick="OpenInNewWindow.submit(false)"/>
                <input type="submit" value="BeautifyInNewPage" class="btn btn-xs btn-success" onclick="OpenInNewWindow.submit(true)" />
                <input type="button" value="Select Text" class="btn btn-xs btn-info" onClick="javascript:this.form.beautifiedTextArea.focus();this.form.beautifiedTextArea.select();">
            </div>
            <div class="form-group">
                @Html.TextAreaFor(m => m.Beautify.BeautifiedStr, new { @class = "form-control", @rows = "20" })
            </div>
        </form>
    </div>
</div>


